# Auto detect text files and perform LF normalization
* text=auto
Content/Megascans/**/.*uasset filter=lfs diff=lfs merge=lfs -text
Content/ProceduralNaturePack/**/.*uasset filter=lfs diff=lfs merge=lfs -text
